.button-style {
    padding: 5px 30px;
    display: inline;
    background-color: whitesmoke;
    border: 3px solid lightblue;
    color: black;
    box-sizing: border-box;
}

.button-style:hover {
    background-color: lightgray;
}

.active {
    background-color: lightgray;
}

#display-style{
    height:50px;
    width:300px;
    border: 3px solid lightblue;
    margin-bottom: 15px;
    background-color: whitesmoke;
    word-wrap: break-word;
    color: black;
    box-sizing: border-box;
    overflow-y: auto;
}